* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #2C8F69;
    margin: auto;
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: xx-large;
    border-bottom: 3px solid #592B1B;
}

/*#region Side menu*/
.sidenav {
    /*Inside the side menu*/
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #277D5C;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 2px solid #592B1B;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    font-weight: bolder;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: xx-large;
    margin-left: 50px;
}

#burger {
    font-size: xx-large;
    cursor: pointer;
    padding-left: 0.5%;
    color: #592B1B;
}
/*#endregion*/
form {
    border: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}

.form {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
}

legend {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: larger;
    color: #592B1B;
    font-weight: bold;
}

#picture-button {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    font-size: larger;
    color: white;
    background-color: #2C8F69;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#picture-button:hover{
    background-color: #277D5C;
}

.name-input {
    font-size: large;
}

#name {
    width: 25%;
    height: 25px;
    margin-left: 25px;
}

#ingredients-buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
}

#all-buttons {
    display: grid;
    grid-template-columns: auto auto;
}

.ingredient-button {
    width: 25px;
    height: 40px;
    background-color: #277D5C;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 0 18px;
    margin-right: 15px;
}

#submit-button {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    font-size: larger;
    margin: auto;
    color: white;
    background-color: #2C8F69;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #277D5C;
}

#add-image{
    display: flex;
    flex-direction: column;
}
#image {
    width: 250px;
    height: 150px;
}