* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #2C8F69;
    margin: auto;
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: xx-large;
    border-bottom: 3px solid #592B1B;
}

/*#region Side menu*/
.sidenav {
    /*Inside the side menu*/
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #277D5C;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 2px solid #592B1B;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    font-weight: bolder;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: xx-large;
    margin-left: 50px;
}

#burger {
    font-size: xx-large;
    cursor: pointer;
    padding-left: 0.5%;
    color: #592B1B;
}

/*#endregion*/

/*#region Collapsibles*/
.collapsible {
    background-color: #2C8F69;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-radius: 10px;
    /*border: 1px solid white;*/
    border: none;
    outline: none;
    font-size: large;
    font-weight: bold;
}

.collapsible:hover {
    background-color: #277D5C;
}

.collapsible:after {
    content: '\25BC';
    /*Black Down-Pointing Triangle*/
    color: white;
    font-weight: bolder;
    float: right;
    margin-left: 5px;
}

.active {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.active:after {
    content: '\25B2';
    /*Black Up-Pointing Triangle*/
}

.div-button {
    padding: 0 18px;
    /*display: none;*/
    overflow: hidden;
    background-color: #277D5C;
    width: 100%;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ingredient {
    margin-bottom: 10px;
    border-radius: 10px;
}

.selection {
    display: flex;
    flex-direction: column-reverse;
    grid-column: 1;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #592B1B;
    font-size: large;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.image-ingredient {
    width: 150px;
    height: 75px;
}

/*#endregion*/

/*#region fieldset*/
form {
    text-align: left;
    border: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
}

legend {
    /*"Add receipe"*/
    color: #592B1B;
    font-size: larger;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.form{
    margin-top: 10px;
    margin-bottom: 20px;
}
p{
    margin-bottom: 15px;
}
#name{
    width: 35%;
    height: 25px;
    margin-left: 25px;
}

#step
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.step-input {
    width: 35%;
    height: 60px;
    resize: none;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#add-step-button {
    width: fit-content;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #2C8F69;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#add-step-button:hover{
    background-color: #277D5C;
}
#submit-button {
    width: fit-content;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #2C8F69;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#submit-button:hover{
    background-color: #277D5C;
}
.container {
    background-color:#2C8F69;
    box-shadow: 0 0 25px rgba(17,1,68,0.08);
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
}
#label-checkbox{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: white;
}
.selection {
    position: relative;
    width: 100%;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column-reverse;
    grid-column: 1;
}
.selection:after{
    position: absolute;
    font-weight: 400;
    content: "\f111";
    font-size: 18px;
    color: #2C8F69;
    right: 10px;
    top: -5px;
}
.selection:checked:after {
    font-weight: 900;
    content: "\f058";
    color: #592B1B;
}
#img-ingredient {
    position: absolute;
    left: 0;
    right: 0;
    top: 0 ;
    bottom: 0;
    cursor: pointer;
}
#image {
    width: 250px;
    height: 150px;
}
/*#endregion*/
#add-image{
    display: flex;
    flex-direction: column;
}
#image {
    width: 250px;
    height: 150px;
}