* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #2C8F69;
    margin: auto;
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: xx-large;
    border-bottom: 3px solid #592B1B;
}

@media only screen and (min-width:768px) {

    /*#region Side menu*/
    .sidenav {
        /*Inside the side menu*/
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #277D5C;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        border-right: 2px solid #592B1B;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        font-weight: bolder;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: xx-large;
        margin-left: 50px;
    }

    #burger {
        font-size: xx-large;
        cursor: pointer;
        padding-left: 0.5%;
        color: #592B1B;
    }

    /*#endregion*/

    /*#region step and co*/
    legend {
        color: #592B1B;
        font-size: larger;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 10px;
        font-weight: bold;

    }

    section {
        display: flex;
        flex-direction: row;
        align-items: start;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    article {
        margin-left: 10px;
        background-color: #277D5C;
        padding-left: 5px;
        margin-right: 5px;
        border-radius: 8px;
    }

    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .receipe-name {
        text-transform: capitalize;
        color: white;
        font-weight: bold;
    }

    .image-receipe {
        width: 280px;
        height: 150px;
        border-radius: 8px;
    }

    .div-step {
        display: flex;
        flex-direction: row;
    }

    .numb {
        width: max-content;
        white-space: pre;
        font-size: large;
        font-weight: bold;
    }

    .step-text {
        width: fit-content;
        white-space: break-spaces;
    }

    /*#endregion*/

    #fav-button {
        width: fit-content;
        font-size: x-large;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #2C8F69;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #fav-button:hover {
        background-color: #277D5C;
    }
}

@media only screen and (min-width:480px) and (max-width:768px) {

    /*#region Side menu*/
    .sidenav {
        /*Inside the side menu*/
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #277D5C;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        border-right: 2px solid #592B1B;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        font-weight: bolder;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: xx-large;
        margin-left: 50px;
    }

    #burger {
        font-size: xx-large;
        cursor: pointer;
        padding-left: 0.5%;
        color: #592B1B;
    }

    /*#endregion*/

    /*#region step and co*/
    legend {
        color: #592B1B;
        font-size: larger;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 10px;
        font-weight: bold;

    }

    section {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    article {
        margin-left: 10px;
        background-color: #277D5C;
        padding-left: 5px;
        margin-right: 5px;
        border-radius: 8px;
    }

    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .receipe-name {
        text-transform: capitalize;
        color: white;
        font-weight: bold;
    }

    .image-receipe {
        width: 100%;
        border-radius: 8px;
    }

    .div-step {
        display: flex;
        flex-direction: row;
    }

    .numb {
        width: max-content;
        white-space: pre;
        font-size: large;
        font-weight: bold;
    }

    .step-text {
        width: fit-content;
        white-space: break-spaces;
    }

    /*#endregion*/

    #fav-button {
        width: fit-content;
        font-size: x-large;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #2C8F69;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #fav-button:hover {
        background-color: #277D5C;
    }
}

@media only screen and (max-width:480px) {

    /*#region Side menu*/
    .sidenav {
        /*Inside the side menu*/
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #277D5C;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        border-right: 2px solid #592B1B;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        font-weight: bolder;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: xx-large;
        margin-left: 50px;
    }

    #burger {
        font-size: xx-large;
        cursor: pointer;
        padding-left: 0.5%;
        color: #592B1B;
    }

    /*#endregion*/

    /*#region step and co*/
    legend {
        color: #592B1B;
        font-size: larger;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 10px;
        font-weight: bold;

    }

    section {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    article {
        margin-left: 10px;
        background-color: #277D5C;
        padding-left: 5px;
        margin-right: 5px;
        border-radius: 8px;
    }

    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .receipe-name {
        text-transform: capitalize;
        color: white;
        font-weight: bold;
    }

    .image-receipe {
        width: 100%;
        border-radius: 8px;
    }

    .div-step {
        display: flex;
        flex-direction: row;
    }

    .numb {
        width: max-content;
        white-space: pre;
        font-size: large;
        font-weight: bold;
    }

    .step-text {
        width: fit-content;
        white-space: break-spaces;
    }

    /*#endregion*/

    #fav-button {
        width: fit-content;
        font-size: x-large;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #2C8F69;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #fav-button:hover {
        background-color: #277D5C;
    }
}