* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #2C8F69;
    margin: auto;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    font-size: xx-large; 
    border-bottom: 3px solid #592B1B;
}
/*Side menu*/
.sidenav { /*Inside the side menu*/
    height: 100%;
    width: 0;
    position: fixed;
    z-index:1;
    top: 0;
    left :0;
    background-color:#277D5C;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:60px;
}
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:white;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover{
    font-weight: bolder;
}
.sidenav .closebtn{
    position: absolute;
    top:0;
    right: 25px;
    font-size:xx-large;
    margin-left: 50px;
}
#burger{
    font-size: xx-large;
    cursor: pointer;
    padding-left: 0.5%;
    color: #592B1B;
}

/*Collapsibles*/
.collapsible {
    background-color: #2C8F69;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-radius: 10px;
    /*border: 1px solid white;*/
    border: none;
    outline: none;
    font-size: larger;
    font-weight: bold;
}
.collapsible:hover {
    background-color: #277D5C;
}
.collapsible:after{
    content: '\25BC'; /*Black Down-Pointing Triangle*/
    color: white;
    font-weight: bolder;
    float: right;
    margin-left: 5px;
}
.active {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.active:after{
    content: '\25B2';/*Black Up-Pointing Triangle*/
}
.div-button {
    padding: 0 18px;
    /*display: none;*/
    overflow: hidden;
    background-color: #277D5C;
    width: 100%;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.ingredient {
    margin-bottom: 10px;
    border-radius: 10px;
}


legend {/*"choose your ingredient'*/
    color: #592B1B;
    font-size: larger;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.selection {
    display: flex;
    flex-direction: column-reverse;
    grid-column: 1;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #592B1B;
    font-size: large;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.image-ingredient {
    width: 150px;
    height: 75px;
}
fieldset{
    text-align: center;
    border: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#submit-button {
    width: fit-content;
    font-size:x-large;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #2C8F69;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#submit-button:hover{
    background-color: #277D5C;
}